Flask
gunicorn

opencv-python-headless
torch
torchvision
tqdm
Pillow
PyYAML
matplotlib
pandas
requests
distutils


tensorboard
# wandb

# Plotting ------------------------------------
seaborn

ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation


numpy
# opencv-python
scipy
protobuf